.navbar {
  display: flex;
  color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 0px 48px;
  z-index: 10002;
  background-color: #fff;
  width: calc(100% - 96px);
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.balance {
  display: flex;
}

.logo {
  display: none;
}

.wallet {
  display: flex;
}

.searchBtn {
  display: none;
}

.nodeMenu {
  display: none;
}

.nodeMenu:active {
  color: #f3523f;
}

@media (max-width: 600px) {
  .navbar {
    width: 100%;
    padding: 0 5px;
    background-color: #000;
  }

  .balance {
    display: none;
  }

  .logo {
    display: flex;
  }

  .wallet {
    display: none !important;
  }

  .searchBtn {
    display: flex;
  }

  .nodeMenu {
    display: flex;
  }

  .nodeMenu svg>path {
    fill: #fff;
  }
}
