@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

html {
  overflow: unset;

  --capsule-color-error: #d90368;
  --capsule-color-info: #296eb4;
  --capsule-color-warning: #f99d2a;
  --capsule-color-success: #32b267;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;

  --nft-item-width: 18.5vw;
  --nft-item-width--profile-page: 18.5vw;
  --nft-item-width--collection-page: 18.5vw;
  --nft-item-border-radius: 10px;
}

@media screen and (max-width: 960px) {
  .str-chat__header-hamburger {
    display: none !important;
  }
}

@media screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    background-color: #f1f1f1;
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 43px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.css-l6k0dl-MuiInputBase-root-MuiInput-root:before {
  border: none;
  background-color: transparent;
}

.css-l6k0dl-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 0px;
  background-color: transparent;
}

.css-l6k0dl-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 0px;
  background-color: transparent;
}

.css-1vs47d1-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input:focus {
  background-color: transparent;
}

.css-o69gx8-MuiCardMedia-root {
  object-fit: fill;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa-Regular.otf') format('trueType');
}

@font-face {
  font-family: 'Nexa-Bold';
  src: url('/fonts/Nexa-Bold.otf') format('trueType');
}

@font-face {
  font-family: 'Nexa-Light';
  src: url('/fonts/Nexa-Light.otf') format('trueType');
}

.css-l6k0dl-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none !important;
}

.css-l6k0dl-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none !important;
}

.css-10v4kpm {
  clip-path: polygon(
    30% 0%,
    95% 0,
    100% 12%,
    100% 100%,
    70% 100%,
    5% 100%,
    0 90%,
    0 0
  ) !important;
}

.css-8g6slt::before {
  border-bottom: none !important;
}

.css-8g6slt::after {
  border-bottom: none !important;
}

.css-10v4kpm {
  clip-path: polygon(
    30% 0%,
    95% 0,
    100% 12%,
    100% 100%,
    70% 100%,
    5% 100%,
    0 90%,
    0 0
  ) !important;
}

.css-ekeie0 {
  backdrop-filter: blur(13px);
}

.css-1vvrv9s {
  background-color: transparent !important;
  box-shadow: none !important;
  overflow-y: inherit !important;
}

.css-1arijsr-MuiSnackbar-root {
  top: 50px !important;
}

.css-3sz7wh {
  top: 50px !important;
}

.css-1b4xmg0-MuiGrid-root {
  max-width: 32% !important;
}

.css-1ehp9jc-MuiGrid-root {
  max-width: 28.5% !important;
}

.css-xgrbek .MuiPaper-root {
  max-width: 760px;
}

.str-chat__main-panel {
  padding: 0 !important;
}

.str-chat.messaging,
.str-chat.commerce {
  background-color: #fff !important;
}

.str-chat-channel {
  padding-bottom: 60px;
}

.str-chat__reverse-infinite-scroll {
  padding-top: 0 !important;
}

.str-chat-channel-list {
  width: 500px !important;
}
.str-chat-channel-list.messaging {
  left: 0px !important;
}

@media screen and (max-width: 960px) {
  .str-chat__channel-list.str-chat__channel-list-react {
    position: inherit !important;
  }
}
@media screen and (max-width: 600px) {
  .str-chat-channel-list .str-chat__channel-list-messenger {
    padding: 0px 45px !important;
  }
}

.str-chat__channel-list-messenger {
  background: none !important;
}
@media screen and (max-width: 1200px) {
  .bottom_video_1 {
    top: 34% !important;
    left: 7% !important;
  }
  .bottom_image_3 {
    top: 27% !important;
  }
}
.bottom_video_1 {
  position: absolute;
  left: 7%;
  top: 34%;
  z-index: 1;
}
.bottom_video_2 {
  position: absolute;
  left: 30%;
  top: 45%;
  z-index: 3;
}
.bottom_image_3 {
  position: absolute;
  right: 5%;
  top: 24%;
  z-index: 2;
}
/* .bottom_video_1:hover,
.bottom_video_2:hover,
.bottom_image_3:hover {
  width: 60%;
  z-index: 10;
} */

@keyframes blurnftanimation {
  0% {
    filter: brightness(100%);
  }

  100% {
    filter: brightness(50%);
  }
}

@media screen and (min-width: 2015px) {
  body {
    --nft-item-width: 15.7vw;
  }
}
.str-chat__message:first-of-type .str-chat__message-inner {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

@media screen and (min-width: 2480px) {
  body {
    --nft-item-width: 11.9vw;
  }
}

@media screen and (max-width: 1460px) {
  body {
    --nft-item-width: 23vw;
  }
}

@media screen and (max-width: 1370px) {
  body {
    --nft-item-width: 22.5vw;
  }
}

@media screen and (max-width: 1133px) {
  body {
    --nft-item-width: calc(33vw - 35px);
  }
}

@media screen and (max-width: 855px) {
  body {
    --nft-item-width: calc(49vw - 48.5px);
  }
}

@media screen and (max-width: 632px) {
  body {
    --nft-item-width: 90vw;
  }
}

@media screen and (max-width: 599px) {
  body {
    --nft-item-width: 100vw;
    --nft-item-border-radius: 0px;
  }
}

@media screen and (max-width: 2480px) {
  body {
    --nft-item-width--profile-page: calc(20vw - 115px);
  }
}

@media screen and (max-width: 1960px) {
  body {
    --nft-item-width--profile-page: calc(25vw - 135px);
  }
}

@media screen and (max-width: 1600px) {
  body {
    --nft-item-width--profile-page: calc(33vw - 175px);
  }
}

@media screen and (max-width: 1250px) {
  body {
    --nft-item-width--profile-page: calc(50vw - 255px);
  }
}

@media screen and (max-width: 1225px) {
  body {
    --nft-item-width--profile-page: calc(50vw - 250px);
  }
}

@media screen and (max-width: 967px) {
  body {
    --nft-item-width--profile-page: 45vw;
  }
}

@media screen and (max-width: 900px) {
  body {
    --nft-item-width--profile-page: calc(50vw - 105px);
  }
}

@media screen and (max-width: 707px) {
  body {
    --nft-item-width--profile-page: calc(49vw - 87.5px);
  }
}

@media screen and (max-width: 672px) {
  body {
    --nft-item-width--profile-page: 70vw;
  }
}

@media screen and (max-width: 600px) {
  body {
    --nft-item-width--profile-page: 85vw;
  }
}

@media screen and (max-width: 2480px) {
  body {
    --nft-item-width--collection-page: calc(20vw - 95px);
  }
}

@media screen and (max-width: 1960px) {
  body {
    --nft-item-width--collection-page: calc(25vw - 120px);
  }
}

@media screen and (max-width: 1600px) {
  body {
    --nft-item-width--collection-page: calc(33vw - 155px);
  }
}

@media screen and (max-width: 1215px) {
  body {
    --nft-item-width--collection-page: calc(50vw - 240px);
  }
}

@media screen and (max-width: 967px) {
  body {
    --nft-item-width--collection-page: 45vw;
  }
}

@media screen and (max-width: 900px) {
  body {
    --nft-item-width--collection-page: calc(49vw - 50px);
  }
}

@media screen and (max-width: 632px) {
  body {
    --nft-item-width--collection-page: 80vw;
  }
}

@media screen and (max-width: 600px) {
  body {
    --nft-item-width--collection-page: 95vw;
  }
}

/* favorite icon */
#favorite-icon svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

#favorite-icon svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

#favorite-icon svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

#favorite-icon input[type='checkbox'] {
  display: none;
}

#favorite-icon input[type='checkbox']:checked + label svg #heart {
  transform: scale(0.2);
  fill: #f3523f;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

#favorite-icon input[type='checkbox']:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

#favorite-icon input[type='checkbox']:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }

  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }

  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }

  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }

  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }

  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }

  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

.str-chat__user-item--name {
  color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.pulse-ring-animated {
  content: '';
  width: 3vw;
  height: 3vw;
  border: 1px solid #f00;
  border-radius: 50%;
  position: absolute;

  animation: pulse-ring infinite 1.5s;
}
.pulse-ring-animated.light {
  border: 1px solid #ee8888;

  animation-delay: 0.75s;
}
@keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*******        date range slider    *******/
.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  height: 5px;
}

.slider__track {
  background-color: #aaaaaa;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #ff445e;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: black;
  font-size: 15px;
  margin-top: -35px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 90%;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #ff0000;
  border: none;
  cursor: pointer;
  height: 18px;
  width: 4px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  cursor: pointer;
  height: 18px;
  width: 4px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
/*******        date range slider    *******/
